<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="BufferingForwardingAppender" />
    </root>
    <logger name="CHCLogger">
      <!--Below this level the log will not be recorded.-->
      <!--The following levels are defined in order of increasing priority:ALL,DEBUG,INFO,WARN,ERROR,FATAL,OFF-->
      <level value="ALL" />
    </logger>
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <!--cache the Appender log information. The bufferSize attribute specifies the number of buffers,
      if value is 5, then will reach 6 in the amount of information, the log output in batches-->
      <bufferSize value="5" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ALL" />
      </evaluator>
      <appender-ref ref="RollingLogFileAppender" />
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--Output log file path-->
      <file value="\Log\CHCWeb.log" />
      <!--log4net will lock the log files when writing logs by default，we can't use File.Open to read or write the log file in other application-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--When the file exists, if append the additional content to the original document-->
      <appendToFile value="true" />
      <!--Size,Date,Once,Composite-->
      <rollingStyle value="Size" />
      <MaxSizeRollBackups value="10" />
      <!--When RollingStyle is Composite or Size, here to set the maximum file size-->
      <MaximumFileSize value="50MB" />
      <!--The new log file name will always be file section name-->
      <StaticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Time:%date Level:%-5level ||CHC Web|| Description: %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
